# Temporary files
*.*~*
*.DS_Store
tei-checked/*.xml
annotated_temp
heideltime

# Oxygen project file
*.xpr

# corpus files in copyright
tei/nh0003.xml
tei/nh0019.xml
tei/nh0051.xml
tei/nh0075.xml
tei/nh0083.xml
tei/nh0084.xml
tei/nh0098.xml
tei/nh0108.xml
tei/nh0129.xml
tei/nh0157.xml
tei/nh0189.xml
tei/nh0200.xml
tei/nh0206.xml
tei/nh0208.xml
tei/nh0209.xml
tei/nh0211.xml
tei/nh0212.xml
tei/nh0217.xml
tei/nh0240.xml

txt/nh0003.txt
txt/nh0019.txt
txt/nh0051.txt
txt/nh0075.txt
txt/nh0083.txt
txt/nh0084.txt
txt/nh0098.txt
txt/nh0108.txt
txt/nh0129.txt
txt/nh0157.txt
txt/nh0189.txt
txt/nh0200.txt
txt/nh0206.txt
txt/nh0208.txt
txt/nh0209.txt
txt/nh0211.txt
txt/nh0212.txt
txt/nh0217.txt
txt/nh0240.txt

txt_annotated/nh0003.txt
txt_annotated/nh0019.txt
txt_annotated/nh0051.txt
txt_annotated/nh0075.txt
txt_annotated/nh0083.txt
txt_annotated/nh0084.txt
txt_annotated/nh0098.txt
txt_annotated/nh0108.txt
txt_annotated/nh0129.txt
txt_annotated/nh0157.txt
txt_annotated/nh0189.txt
txt_annotated/nh0200.txt
txt_annotated/nh0206.txt
txt_annotated/nh0208.txt
txt_annotated/nh0209.txt
txt_annotated/nh0211.txt
txt_annotated/nh0212.txt
txt_annotated/nh0217.txt
txt_annotated/nh0240.txt

txt_annotated_corr/nh0003.txt
txt_annotated_corr/nh0019.txt
txt_annotated_corr/nh0051.txt
txt_annotated_corr/nh0075.txt
txt_annotated_corr/nh0083.txt
txt_annotated_corr/nh0084.txt
txt_annotated_corr/nh0098.txt
txt_annotated_corr/nh0108.txt
txt_annotated_corr/nh0129.txt
txt_annotated_corr/nh0157.txt
txt_annotated_corr/nh0189.txt
txt_annotated_corr/nh0200.txt
txt_annotated_corr/nh0206.txt
txt_annotated_corr/nh0208.txt
txt_annotated_corr/nh0209.txt
txt_annotated_corr/nh0211.txt
txt_annotated_corr/nh0212.txt
txt_annotated_corr/nh0217.txt
txt_annotated_corr/nh0240.txt

txt_annotated_stop/nh0003.txt
txt_annotated_stop/nh0019.txt
txt_annotated_stop/nh0051.txt
txt_annotated_stop/nh0075.txt
txt_annotated_stop/nh0083.txt
txt_annotated_stop/nh0084.txt
txt_annotated_stop/nh0098.txt
txt_annotated_stop/nh0108.txt
txt_annotated_stop/nh0129.txt
txt_annotated_stop/nh0157.txt
txt_annotated_stop/nh0189.txt
txt_annotated_stop/nh0200.txt
txt_annotated_stop/nh0206.txt
txt_annotated_stop/nh0208.txt
txt_annotated_stop/nh0209.txt
txt_annotated_stop/nh0211.txt
txt_annotated_stop/nh0212.txt
txt_annotated_stop/nh0217.txt
txt_annotated_stop/nh0240.txt

annotated/nh0003.xml
annotated/nh0019.xml
annotated/nh0051.xml
annotated/nh0075.xml
annotated/nh0083.xml
annotated/nh0084.xml
annotated/nh0098.xml
annotated/nh0108.xml
annotated/nh0129.xml
annotated/nh0157.xml
annotated/nh0189.xml
annotated/nh0200.xml
annotated/nh0206.xml
annotated/nh0208.xml
annotated/nh0209.xml
annotated/nh0211.xml
annotated/nh0212.xml
annotated/nh0217.xml
annotated/nh0240.xml

annotated_corr/nh0003.xml
annotated_corr/nh0019.xml
annotated_corr/nh0051.xml
annotated_corr/nh0075.xml
annotated_corr/nh0083.xml
annotated_corr/nh0084.xml
annotated_corr/nh0098.xml
annotated_corr/nh0108.xml
annotated_corr/nh0129.xml
annotated_corr/nh0157.xml
annotated_corr/nh0189.xml
annotated_corr/nh0200.xml
annotated_corr/nh0206.xml
annotated_corr/nh0208.xml
annotated_corr/nh0209.xml
annotated_corr/nh0211.xml
annotated_corr/nh0212.xml
annotated_corr/nh0217.xml
annotated_corr/nh0240.xml

tei_ds/nh0003.xml
tei_ds/nh0019.xml
tei_ds/nh0083.xml
tei_ds/nh0298.xml

tei_ns/nh0003.xml
tei_ns/nh0019.xml
tei_ds/nh0083.xml
tei_ds/nh0208.xml

tei_tokenized_ds/nh0003.xml
tei_tokenized_ds/nh0019.xml
tei_tokenized_ds/nh0083.xml
tei_tokenized_ds/nh0208.xml
